include eow/templates/*.html
include eow/static/*.js
include eow/static/*.css

include README.rst

recursive-include eow/static/codemirror *.js *.css
include eow/static/font-awesome/css/*.min.css
include eow/static/font-awesome/fonts/*
