{% extends "base.html" %}
{% block title %}{{ filename }}{% endblock %}
{% block header_extra %}
  <link href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}" type="text/css" media="all" rel="stylesheet" />
  <link href="{{ url_for('static', filename='codemirror/addon/dialog/dialog.css') }}" type="text/css" media="all" rel="stylesheet" />
  <link href="{{ url_for('static', filename='codemirror/addon/search/matchesonscrollbar.css') }}" type="text/css" media="all" rel="stylesheet" />

  <script type="text/javascript" src="{{ url_for('static',  filename='jquery-2.1.4.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/lib/codemirror.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/mode/meta.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/mode/stex/stex.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/mode/ruby/ruby.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/mode/shell/shell.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/mode/clike/clike.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/mode/fortran/fortran.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/addon/dialog/dialog.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/addon/scroll/annotatescrollbar.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/addon/search/search.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/addon/search/searchcursor.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/addon/search/matchesonscrollbar.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/addon/comment/comment.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/addon/edit/matchbrackets.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/addon/selection/active-line.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/addon/edit/trailingspace.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/addon/mode/loadmode.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/addon/wrap/hardwrap.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/keymap/vim.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/keymap/emacs.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',  filename='codemirror/keymap/sublime.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static',  filename='main.js') }}"></script>
{% endblock %}
{% block body %}

  <div id="root">
    <div id="editor"></div>
    <div id="button_bar">
      <button class="save-button" accesskey="s">Save</button> (<b>Alt+(Shift-)s)</b>)
      &middot;
      F2: Open sub-editor on selection
      &middot;
      F3: Open sub-editor on document
      &middot;
      F4: Toggle speech
      &middot;
      <tt>{{ filename }}</tt>
    </div>

    <div id="message_box">
    </div>

    <ul id="initial_messages">
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>

  <div id="dimming_overlay">
  </div>

  <div id="editbox">
    <textarea id="subeditor">
    </textarea>
    <div id="editbox_buttonbar">
      <button id="subeditor_save">Save</button> (<b>Ctrl-Enter</b>)
      <button id="subeditor_cancel">Cancel</button> (<b>Esc</b>)
    </div>
  </div>

  <script type="text/javascript">
    var eow_info = {{ info }};
  </script>

  <div id="speech_indicator_box">
    <div style="float: right">
      <button id="speech_indicator">
        <i class="fa fa-microphone"></i>
      </button>
      <span id="speech_audio_indicator">
        <i class="fa fa-volume-off"></i>
      </span>
    </div>
  </div>
{% endblock %}
