#root {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#editor {
  position: absolute;
  top: 0;
  height: calc(100% - 2em);
  right: 0;
  left: 0;
}

.CodeMirror {
  height: 100%;
}

#button_bar {
  position: absolute;
  top: calc(100% - 2em);
  bottom: 0;
  right: 0;
  left: 0;
  white-space: nowrap;

  padding: 3px;
  font-family: sans;
}

#message_box {
  position: absolute;
  bottom: 10px;
  right: 10px;

  font-family: sans;
  font-weight: bold;

  background-color: #ddd;
  padding: 10px;

  display: none;
}

#initial_messages {
  visibility: hidden;
}
